<div>
    
  {{snowboard.name}} - {{snowboard.price}}  

  <a href="/companies/{{companyId}}/snowboards/{{snowboards._id}}">Edit</a>

  <a href="/companies/{{companyId}}/snowboards/{{snowboards._id}}/delete">Delete</a>
 
</div>>